/* nav bar */
.Header{
  /* header container */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  position: relative;
}
/*logo*/
#logo {
  margin-left: 20px;
  padding: 5px;
}

.hide {
  display: none;
}

.menu-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -60px; 
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 50;
}

.nav ul{
  margin: 2em auto;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
}

.nav li a{
  font-size: 2em;
  color: black;
  margin: 1 auto;
  padding: .3em 1em;
  border-radius: 15px;
  transition-duration: 100ms;
}
.nav li a:hover{
  color: black;
  background-color: aliceblue;
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 50px;
  justify-content: space-evenly;
  transition-duration: 300ms ;
  padding: 15px;
  position: relative;
  
}
.hamburger-menu:hover{
  transform: scale(1.15);
  cursor: pointer;
}

.rotateUp{
  transform: rotateZ(45deg);
  position: absolute;
  right: 15px;
}
.rotateDown{
  transform: rotateZ(-45deg);
  position: absolute;
  right: 15px;
}

.hamburger-menu span{
  width: 50px;
  height: 2px;
  border: 1px solid black;
  background-color: black;
  transition-duration: 200ms;
}
#username{
  font-size: 2em;
}