/* nav bar */
.Header{
  /* header container */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
  padding: 10px 0;
}
/*logo*/
#logo {
  margin-left: 30px;
  padding: 10px;
}

.hide {
  display: none;
}

.menu-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -60px; 
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 50;
}

.nav ul{
  margin: 2em auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
}

.nav li a{
  font-size: 2em;
  color: black;
  margin: 1 auto;
  padding: .3em 1em;
  border-radius: 15px;
  transition-duration: 100ms;
}

.nav li a:hover{
  color: white;
  background-color: #5B84B1FF;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 50px;
  justify-content: space-evenly;
  transition-duration: 300ms ;
  padding: 15px;
  position: relative;
  
}
.hamburger-menu:hover{
  transform: scale(1.15);
  cursor: pointer;
}

.rotateUp{
  transform: rotateZ(45deg);
  position: absolute;
  right: 15px;
}
.rotateDown{
  transform: rotateZ(-45deg);
  position: absolute;
  right: 15px;
}

.hamburger-menu span{
  width: 50px;
  height: 2px;
  border: 1px solid black;
  background-color: black;
  transition-duration: 200ms;
}
#username{
  font-size: 2em;
}

@media all and (max-width: 650px) {
  .desktop-menu-group{
    display: none;
  }
}

@media all and (min-width: 650px) {
  #dropdown-menu, .hamburger-menu{
     display: none;
  }
  .Header{
    max-height: 140px;
    max-width: 900px;
  }
  .nav {
    flex-direction: row;
    margin-bottom: 0;
    width: 500px;
    height: 150px
  }
  .nav  li {
    list-style-type: none;
  }
}

@media all and (min-width: 950px) {
  .Header{
    width: 900px;
    margin: auto;
  }
}