@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:ital@1&display=swap');
body, .App {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif  'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* greeting styles  */

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}
/* intro styles */
.intro-portrait{
  border-radius: 5px;
  margin: 15px
}
p{
  max-width: 90%;
  margin: 10px auto;
}

ul {
  list-style: none;
  padding-left: 0;
  max-width: 90%; 
  margin: auto;
  text-align: center;
}

li {
  text-align: center;
  margin-bottom: 15px;
}

.about-section{
  margin: 30px 0;
  padding: 40px 0;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(197,216,238,1) 13%, rgba(81,160,252,1) 57%, rgba(197,216,238,1) 90%, rgba(255,255,255,1) 100%);
}


.about-personal-section, .about-tech-section {
  max-width: 90%;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  background-color: #f0f8ff9c;
}
.project-sections {
  margin-bottom: 50px;
}

.projects-group > section {
  margin: 50px auto;
}

.contact {
  margin-bottom: 40px;
}

.social-links {
  margin: 30px;
}
.a-button-div {
  margin: 20px auto;
  background-color: #5B84B1FF;
  padding: 10px;
  max-width: 200px;
  border-radius: 20px;
}

.a-button {
  color: white;
  text-decoration: none;
}

.social-links > a{
  margin: 10px;
  padding: 10px
}


@media all and (min-width: 520px) {
  .about-personal-section, .about-tech-section {
    max-width: 500px;
  }
}

@media all and (min-width: 900px) {
  .about-tech-section {
    max-width: 250px;
  }
  .about-fullstack-section {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    max-width: 1000px;
  }
  p{
    max-width: 600px;
  }
  .projects-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto 50px;
  }
}